@-moz-document domain("www.bing.com") {


#b_content li {
    display: inline-block;
}
#b_results > li.b_algo {
    padding-top: 30px !important;
    box-shadow: 0px 3px 9px #000;
    width: 100%;

}

#b_context > li {
    position: relative !important;
    width:100% !important;
    left: 25% !important;
    box-shadow: 1px 1px 10px #000;
}
#b_header, .b_poleContent {
     box-shadow: 0 4px 10px -2px #000;
}
li.b_richnews {
    width: 100%;
    box-shadow: 1px 1px 10px #000;
}

li.b_ans {
    width: 100%;
    box-shadow: 1px 1px 10px #000;
}
.mf-item-cntr {
    box-shadow: 0px 3px 9px #000;
}


}
